{% extends "baseadmin.html.twig" %}
{% block title_top %}<h1>Gestion des formations</h1>{% endblock %}
{% block body %}
    <div style="text-align: center; padding: 20px">
        <button style="text-align: center" class="btn btn-primary mb-2 btn-sm" onclick="window.location.href = '{{ path('admin.formation.ajout') }}';"> Ajouter un formation </button>
    </div>

    <table class="table table-striped">
        <caption>Tableau d'administration des formations</caption>
        <tr>
            <th>
                Formations<br>
                <a href="{{ path('admin.formation.sort', {champ:'title', ordre:'ASC'}) }}" class="btn btn-primary mb-2 btn-sm"> < </a>
                <a href="{{ path('admin.formation.sort', {champ:'title', ordre:'DESC'}) }}" class="btn btn-primary mb-2 btn-sm"> > </a>
                <form method="POST" action="{{ path('admin.formation.rechercher', {champ:'title'}) }}">
                    <input name="rechercher" placeholder="Formations" >
                    <button type="submit" class="btn btn-primary mb-2 btn-sm"> Filtrer </button>
                </form>
            </th>
            <th>
                Playlists<br>
                <a href="{{ path('admin.formation.sort', {champ:'playlist', ordre:'ASC'}) }}" class="btn btn-primary mb-2 btn-sm"> < </a>
                <a href="{{ path('admin.formation.sort', {champ:'playlist', ordre:'DESC'}) }}" class="btn btn-primary mb-2 btn-sm"> > </a>
                <form method="POST" action="{{ path('admin.formation.rechercher', {champ:'name', table:'playlist'}) }}">
                    <input name="rechercher" placeholder="Playlists">
                    <button type="submit" class="btn btn-primary mb-2 btn-sm"> Filtrer </button>
                </form>
            </th>
            <th>
                <form method="POST" action="{{ path('admin.formation.rechercher', {champ:'id', table:'categories'}) }}">
                    <label for="rechercher">Categorie</label>
                    <select id="rechercher" name="rechercher" onchange="this.form.submit()">
                        <option value=""></option>
                        {% for categorie in categories %}
                            <option
                                    {% if id_categorie|default and id_categorie==categorie.id %}
                                        selected
                                    {% endif %}
                                    value="{{ categorie.id }}">
                                {{ categorie.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </th>
            <th>
                Dates<br>
                <a href="{{ path('admin.formation.sort', {champ:'publishedAt', ordre:'ASC'}) }}" class="btn btn-primary mb-2 btn-sm"> < </a>
                <a href="{{ path('admin.formation.sort', {champ:'publishedAt', ordre:'DESC'}) }}" class="btn btn-primary mb-2 btn-sm"> > </a>
            </th>
            <th></th>
            <th></th>
        </tr>

        {% for formation in formations %}
            <tr>
                <td>{{ formation.title }}</td>
                <td>{{ formation.playlist.name }}</td>
                <td>
                    {% for categorie in formation.categories %}
                        {{ categorie.name }}
                    {% endfor %}
                </td>
                <td>{{ formation.getPublishedAtString }}</td>
                <td><a href="{{ path('admin.formation.modifier', {id:formation.id}) }}" class="btn btn-secondary"> Modifier </a></td>
                <td><a href="{{ path('admin.formation.supprimer', {id:formation.id, redirection:'admin_formations'}) }}" onclick="return confirm('Voulez-vous supprimer la formation {{ formation.title }} ?')" class="btn btn-danger"> Supprimer </a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
